@import '@/colors.scss';

@mixin buttonBgStates($color) {

  background: $color;

  &:hover {
    background: lighten($color, 2%);
  }

  &:active {
    background: lighten($color, 4%);
  }  
}

.scv-button {
  padding: 6px 20px;
  color: white;
  border: 0;
  font-weight: 600;
  border-radius: 6px;
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;

  &.primary {
    @include buttonBgStates($success);
  }

  &.secondary {
    color: $darkGray;
    @include buttonBgStates($secondary);
  }  

  &.tertiary {
    color: $blue;
    @include buttonBgStates($tertiary);
  }

  &.danger {
    color: $dangerText;

    &:hover {
      background: lighten($dangerHover, 10%);
    }
  
    &:active {
      background: lighten($dangerHover, 12%);
    } 
  }

  &.link {
    background: transparent;
    padding: 0;
    color: $blue;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }

  &[disabled] {
    background: $darkGray;
    cursor: not-allowed;

    &:hover {
      background: $darkGray;
    }
  
    &:active {
      background: $darkGray;
    }     
  }
}