@import 'styles/colors.scss';

.scv-text {
    font-weight: 400;
    line-height: 1.2;

    &.bold {
        font-weight: 600;
    }

    &.size-sm {
        font-size: 12px;
    }

    &.size-body {
        font-size: 14px;
    }

    &.size-md {
        font-size: 16px;
    }    

    &.size-lg {
        font-size: 22px;
    }

    &.variant-light {
        color: white;
    }

    &.variant-gray {
        color: $darkerGray;
    }

    &.variant-blue {
        color: $blue;
    }

    &.variant-danger {
        color: $dangerText;
    }    
}