@import '@/colors.scss';

.scv-button-icon {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;

    &.size-sm {
        padding: 8px;
        border-radius: 50%;
        svg {
            width: 18px;
            height: 18px;
        }
    }

    &.size-md {
        padding: 16px;        
        svg {
            width: 28px;
            height: 28px;
        }
    }

    &.size-lg {
        padding: 8px;
        svg {
            width: 46px;
            height: 46px;
        }
    }    

    &:hover, .nav-active & {
        background:$tertiary;

        svg path {
            fill: $blue
        }
    }
}