@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.header {
    margin: 20px 0 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    align-items: center;
    border-bottom: 1px solid $lightGray;

    &.no-border {
      border-bottom: none;
    }

    @include for-tablet-portrait-up {
      margin-top: 40px;
    }
}
