@import 'styles/colors.scss';

.scv-video-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $lighterGray;
    padding: 4px 4px 0 4px;
    border-radius: 6px;
    text-align: center;

    .scv-video-item-outer {
        background-color: white;
    }

    > .scv-text {
        margin: 15px 0;
    }

    .scv-video-item__tags {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        > * {
            margin: 0 5px;
        }
    }
}