$success: #46B13D;
$secondary: #F1F1F1;
$tertiary: #EBF2FF;
$blue: #3860AD;
$dangerText: #EE6363;
$dangerHover: #eecdcd;
$darkGray: #999999;
$darkerGray: #666666;
$lightGray: #DDD;
$lighterGray: #F4F4F4;