@import '@/colors.scss';

.scv-video-preview {
    border-radius: 20px;
    padding: 20px;
    background-color: $lighterGray;
    margin-bottom: 20px;

    .scv-video-preview-image {
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        &.outer {
            background-color: $lightGray;
        }

        .scv-video-preview-spacer {
            // calculatin ratio 16:9 so that works on every screen
            padding-top: calc(591.44 / 1127.34 * 100%);
        }

        button {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .scv-video-preview-text {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        textarea {
            margin-bottom: 20px;
            width: 100%;
            resize: none;
            outline: none;
            border: none;
        }
    }
}